.equipe{
    display: flex;
    margin: 0;
    padding: 0; 
    gap: 30px;
     /* align-items: flex-start; */
     /* coloca o texto no canto */
    align-items: center;
    /* justify-content: space-evenly; */
/* sever para dividir o espaço*/

}

.cards  {
display: flex;
gap: 20px;
}